In [1]:
## Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Turn the project folder path into a string
path = r"C:\Users\Poory\OneDrive\Desktop\project\Instacart Basket Analysis"

In [3]:
vars_list = ['order_id', 'user_id', 'order_number', 'order_dow', 'order_hour_of_day', 'days_since_prior_order']

In [4]:
# read my CSV file
df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders.csv'), usecols = vars_list )

In [5]:
# top 5 rows of orders df w/o eval_set
df.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [6]:
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)

In [7]:
# first 20 rows of products df
df_prods.head(20)

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3
5,6,Dry Nose Oil,11,11,2.6
6,7,Pure Coconut Water With Orange,98,7,4.4
7,8,Cut Russet Potatoes Steam N' Mash,116,1,1.1
8,9,Light Strawberry Blueberry Yogurt,120,16,7.0
9,10,Sparkling Orange Juice & Prickly Pear Beverage,115,7,8.4
10,11,Peach Mango Juice,31,7,2.8
11,12,Chocolate Fudge Layer Cake,119,1,9.4
12,13,Saline Nasal Mist,11,11,1.1
13,14,Fresh Scent Dishwasher Cleaner,74,17,6.5
14,15,Overnight Diapers Size 6,56,18,11.2
15,16,Mint Chocolate Flavored Syrup,103,19,5.2
16,17,Rendered Duck Fat,35,12,17.1
17,18,Pizza for One Suprema Frozen Pizza,79,1,10.6
18,19,Gluten Free Quinoa Three Cheese & Mushroom Blend,63,9,12.0
19,20,Pomegranate Cranberry & Aloe Vera Enrich Drink,98,7,6.0

In [8]:
# last 35 rows of products df
df_prods.tail(35)

,product_id,product_name,aisle_id,department_id,prices
49658,49654,"Teriyaki Sauce, Sesame, Original",5,13,4.0
49659,49655,Apple Cider,98,7,10.7
49660,49656,Masada Kosher Pocket Bread,128,3,7.1
49661,49657,Cabernet Tomatoes,83,4,8.3
49662,49658,Brie with Herbs Foil Wedge,2,16,3.9
49663,49659,Organic Creamed Coconut,17,13,3.1
49664,49660,Professionals Sleek Shampoo,22,11,6.7
49665,49661,Porto,134,5,8.2
49666,49662,Bacon Cheddar Pretzel Pieces,107,19,3.6
49667,49663,Ultra Protein Power Crunch Peanut Butter N' Ho...,57,14,10.2
49668,49664,Lemon Cayenne Drinking Vinegar,100,21,13.7
49669,49665,Super Dark Coconut Ash & Banana Chocolate Bar,45,19,6.9
49670,49666,Ginger Snaps Snacking Cookies,61,19,5.2
49671,49667,Enchilada with Spanish Rice & Beans Meal,38,1,6.6
49672,49668,Apple Cinnamon Scented Candles,101,17,5.6
49673,49669,K Cup Dark Blend,100,21,4.7
49674,49670,Beef Summer Sausage,106,12,19.2
49675,49671,Milk Chocolate Drops,45,19,3.0
49676,49672,Cafe Mocha K-Cup Packs,26,7,6.5
49677,49673,Stone Baked Multi Grain Artisan Rolls,129,1,5.6
49678,49674,Frozen Greek Yogurt Bars Chocolate Chip,37,1,11.1
49679,49675,Cinnamon Dolce Keurig Brewed K Cups,26,7,14.0
49680,49676,Ultra Red Energy Drink,64,7,14.5
49681,49677,Thick & Chunky Sloppy Joe Sauce,59,15,8.9
49682,49678,Large Chicken & Cheese Taquitos,129,1,3.4
49683,49679,Famous Chocolate Wafers,61,19,6.0
49684,49680,All Natural Creamy Caesar Dressing,89,13,4.9
49685,49681,Spaghetti with Meatballs and Sauce Meal,38,1,6.9
49686,49682,California Limeade,98,7,4.3
49687,49683,Cucumber Kirby,83,4,13.2
49688,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,5.3
49689,49685,En Croute Roast Hazelnut Cranberry,42,1,3.1
49690,49686,Artisan Baguette,112,3,7.8
49691,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8,4.7
49692,49688,Fresh Foaming Cleanser,73,11,13.5

In [9]:
# list of products df columns
df_prods.columns

Index(['product_id', 'product_name', 'aisle_id', 'department_id', 'prices'], dtype='object')

In [10]:
# number of rows and columns of products df
df_prods.shape

(49693, 5)

In [11]:
# What’s the maximum value of the “aisle_id” column? = 134
df_prods.describe()

         product_id      aisle_id  department_id        prices
count  49693.000000  49693.000000   49693.000000  49693.000000
mean   24844.345139     67.770249      11.728433      9.994136
std    14343.717401     38.316774       5.850282    453.519686
min        1.000000      1.000000       1.000000      1.000000
25%    12423.000000     35.000000       7.000000      4.100000
50%    24845.000000     69.000000      13.000000      7.100000
75%    37265.000000    100.000000      17.000000     11.200000
max    49688.000000    134.000000      21.000000  99999.000000

In [12]:
# What’s the data type of the “department_id” column? = int64
df_prods.dtypes

product_id         int64
product_name      object
aisle_id           int64
department_id      int64
prices           float64
dtype: object

In [14]:
pd.options.display.max_rows = None

In [15]:
df_prods['prices'].value_counts(dropna = False)

prices
2.5        470
5.3        458
6.2        451
2.6        447
5.4        444
3.8        442
6.9        442
2.4        442
6.3        442
3.0        441
6.8        439
3.4        438
5.2        437
4.5        437
2.8        435
3.3        435
1.8        434
5.1        431
6.5        430
5.6        428
4.6        427
4.4        426
3.6        425
2.0        424
4.9        423
5.7        423
4.3        420
6.4        419
4.0        419
5.8        418
6.6        417
1.7        417
3.5        416
2.9        416
2.1        415
4.2        415
2.3        415
5.0        414
2.2        413
2.7        412
4.7        411
6.0        408
3.1        407
4.1        406
3.9        406
4.8        406
6.7        404
3.2        403
3.7        399
5.9        399
7.0        396
5.5        386
6.1        385
1.9        377
1.6        371
12.6       356
11.5       348
8.3        347
9.4        340
8.2        334
11.3       333
14.4       332
9.2        330
12.9       328
14.2       328
14.3       327
7.5        325
11.7       324
8.7        323
11.4       323
10.2       322
13.0       322
1.4        321
12.3       320
13.6       320
11.8       319
12.2       317
9.1        315
7.7        313
11.1       313
13.5       313
12.1       312
14.1       312
13.4       312
14.9       310
14.6       310
8.6        310
8.8        310
12.8       310
7.2        309
9.0        309
9.6        308
9.3        307
11.9       307
11.0       306
10.6       305
7.9        305
8.4        305
14.7       304
14.0       304
9.7        303
10.5       303
7.3        302
13.2       302
10.3       301
13.3       301
10.7       300
10.8       300
9.5        300
10.9       299
9.8        299
12.5       299
12.7       297
1.2        297
10.1       297
8.1        296
10.0       296
1.1        296
8.5        295
9.9        293
13.9       293
12.0       292
8.9        292
10.4       291
11.6       291
11.2       290
13.1       290
8.0        289
7.4        288
14.8       287
1.3        286
13.7       284
13.8       282
7.1        281
7.8        280
12.4       279
1.5        276
7.6        267
14.5       263
15.0       143
1.0        116
20.9        11
18.4        11
21.6        10
15.7        10
21.3        10
22.2        10
18.5         9
19.1         9
18.8         9
23.8         9
19.3         8
21.8         8
23.2         8
16.8         8
15.9         8
22.8         8
21.7         8
22.0         8
18.1         8
20.1         8
18.7         7
15.4         7
15.1         7
17.0         7
20.7         7
18.6         7
16.7         7
23.1         7
23.9         7
20.6         6
23.6         6
19.6         6
23.5         6
17.6         6
24.0         6
19.0         6
17.3         6
22.9         6
24.9         6
21.1         6
20.0         6
19.2         6
17.2         6
17.8         6
22.3         6
19.9         6
22.5         6
15.5         5
24.8         5
25.0         5
24.4         5
18.0         5
17.9         5
24.7         5
22.1         5
16.1         5
24.1         5
24.3         5
19.4         5
24.5         5
15.2         5
16.6         5
22.4         5
18.2         5
20.3         5
20.4         4
15.3         4
16.2         4
16.4         4
22.7         4
16.5         4
21.5         4
19.8         4
20.8         4
22.6         4
16.3         4
24.6         4
18.9         4
17.4         4
16.9         4
16.0         4
19.5         3
17.1         3
17.5         3
20.5         3
23.7         3
20.2         3
23.3         3
23.4         3
21.9         3
23.0         3
19.7         3
15.8         2
17.7         2
24.2         2
14900.0      1
21.0         1
99999.0      1
21.4         1
15.6         1
18.3         1
Name: count, dtype: int64

In [19]:
df_prods.loc[df_prods['prices'] == 14900]

,product_id,product_name,aisle_id,department_id,prices
21554,21553,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0