## 4.6.1 Merging and exporting data

### This script includes the following points:

#### Step 3. Import the data
#### Step 4. Check the Output of Dataframes
#### Step 5. Merge orders_products_combined with df_prods
#### Step 6. Confirm the results of the merge using the merge flag
#### Step 7. Export the file

### Step 3. Import the data

In [2]:
# import libraries
import pandas as pd
import numpy as np
import os

In [3]:
path = r"C:\Users\Poory\OneDrive\Desktop\project\Instacart Basket Analysis"

In [4]:
orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

In [5]:
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'Products_checked.csv'), index_col = False)

### Step 4. Check the Output of Dataframes

In [6]:
orders_products_combined.shape

(32434489, 11)

In [7]:
orders_products_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 11 columns):
 #   Column              Dtype
---  ------              -----
 0   order_id            int32
 1   user_id             int32
 2   order_number        int8
 3   orders_day_of_week  int8
 4   order_hour_of_day   int8
 5   last_order_days     float16
 6   first_order         bool
 7   product_id          int32
 8   add_to_cart_order   int32
 9   reordered           int8
 10  _merge              category
dtypes: bool(1), category(1), float16(1), int32(4), int8(4)
memory usage: 742.4 MB

In [8]:
orders_products_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,last_order_days,first_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,both
1,2539329,1,1,2,8,NaN,True,14084,2,0,both
2,2539329,1,1,2,8,NaN,True,12427,3,0,both
3,2539329,1,1,2,8,NaN,True,26088,4,0,both
4,2539329,1,1,2,8,NaN,True,26405,5,0,both

In [9]:
df_prods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49672 entries, 0 to 49671
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     49672 non-null  int64
 1   product_id     49672 non-null  int64
 2   product_name   49672 non-null  object
 3   aisle_id       49672 non-null  int64
 4   department_id  49672 non-null  int64
 5   prices         49672 non-null  float64
dtypes: float64(1), int64(4), object(1)
memory usage: 2.3+ MB

In [10]:
df_prods.drop(columns = ['Unnamed: 0'], inplace = True)

In [11]:
df_prods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49672 entries, 0 to 49671
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49672 non-null  int64
 1   product_name   49672 non-null  object
 2   aisle_id       49672 non-null  int64
 3   department_id  49672 non-null  int64
 4   prices         49672 non-null  float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.9+ MB

In [12]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [14]:
pd.options.display.max_rows = None

In [19]:
df_prods['prices'].value_counts(dropna = False)

prices
2.50     470
5.30     458
6.20     451
2.60     447
5.40     444
3.80     442
2.40     442
6.30     442
6.90     442
3.00     441
3.40     438
6.80     438
5.20     437
4.50     437
2.80     435
3.30     435
1.80     434
5.10     431
6.50     430
5.60     428
4.60     427
4.40     426
3.60     425
2.00     424
4.90     423
5.70     423
4.30     420
6.40     419
4.00     419
5.80     418
6.60     417
1.70     417
3.50     416
2.90     416
2.10     415
4.20     415
2.30     415
5.00     414
2.20     413
2.70     412
4.70     411
6.00     408
3.10     407
4.10     406
3.90     406
4.80     405
6.70     404
3.20     403
5.90     399
3.70     399
7.00     396
5.50     386
6.10     385
1.90     377
1.60     371
12.60    356
11.50    348
8.30     347
9.40     340
8.20     334
11.30    333
14.40    330
9.20     329
12.90    328
14.20    327
14.30    326
7.50     325
11.70    324
8.70     323
11.40    323
10.20    322
13.00    322
1.40     321
13.60    320
12.30    319
11.80    318
12.20    316
9.10     315
13.50    313
7.70     313
11.10    313
14.10    312
14.90    311
12.10    311
13.40    311
12.80    310
8.60     310
14.60    310
8.80     310
9.00     309
7.20     309
9.60     308
9.30     307
11.90    307
11.00    306
7.90     305
10.60    305
8.40     305
14.00    304
14.70    304
9.70     303
10.50    303
13.20    302
7.30     302
13.30    301
10.30    301
9.50     300
10.70    300
10.90    299
9.80     299
12.50    299
10.80    299
12.70    297
10.10    297
8.10     296
1.20     296
10.00    296
1.10     296
8.50     295
13.90    293
12.00    292
9.90     292
8.90     292
11.60    291
10.40    291
11.20    290
13.10    289
8.00     289
7.40     288
1.30     286
14.80    285
13.70    284
13.80    282
7.10     281
7.80     280
12.40    278
1.50     276
7.60     267
14.50    262
15.00    143
1.00     116
18.40     11
21.60     10
15.70     10
21.30     10
20.90     10
22.20     10
18.50      9
19.10      9
18.80      9
23.80      9
19.30      8
21.80      8
23.20      8
16.80      8
15.90      8
22.80      8
21.70      8
22.00      8
18.10      8
20.10      8
18.70      7
15.40      7
15.10      7
17.00      7
20.70      7
18.60      7
16.70      7
23.10      7
23.90      7
20.60      6
23.60      6
19.60      6
23.50      6
17.60      6
24.00      6
19.00      6
17.30      6
22.90      6
24.90      6
21.10      6
20.00      6
19.20      6
17.20      6
17.80      6
22.30      6
22.50      6
19.90      6
15.50      5
24.80      5
25.00      5
24.40      5
18.00      5
24.70      5
22.10      5
17.90      5
16.10      5
24.10      5
24.30      5
19.40      5
24.50      5
15.20      5
16.60      5
22.40      5
18.20      5
20.30      5
20.40      4
15.30      4
16.20      4
16.40      4
22.70      4
16.50      4
21.50      4
19.80      4
20.80      4
22.60      4
16.30      4
24.60      4
18.90      4
17.40      4
16.90      4
16.00      4
19.50      3
17.10      3
17.50      3
20.50      3
23.70      3
20.20      3
23.30      3
23.40      3
21.90      3
23.00      3
19.70      3
15.80      2
17.70      2
24.20      2
21.00      1
9.99       1
21.40      1
15.60      1
18.30      1
Name: count, dtype: int64

In [18]:
df_prods.loc[df_prods['prices'] == 14900, 'prices'] = 14.9

### Step 5. Merge orders_products_combined with df_prods

In [20]:
#Q5 Merging two data frames (inner Join):

ords_prods_merge = orders_products_combined.merge(df_prods, on = 'product_id', indicator = True)
ords_prods_merge['_merge'].value_counts(dropna = False)

ValueError: Cannot use name of an existing column for indicator column

In [21]:
orders_products_combined.drop(columns = ['_merge'], inplace = True)

In [22]:
# Merging two data frames (outer Join):
ords_prods_merge = orders_products_combined.merge(df_prods, on = 'product_id', how = 'outer', indicator = True)
ords_prods_merge['_merge'].value_counts(dropna = False)

_merge
both          32404859
left_only        30200
right_only          11
Name: count, dtype: int64

In [23]:
ords_prods_merge.isnull().sum()

order_id                   11
user_id                    11
order_number               11
orders_day_of_week         11
order_hour_of_day          11
last_order_days       2078113
first_order                11
product_id                  0
add_to_cart_order          11
reordered                  11
product_name            30200
aisle_id                30200
department_id           30200
prices                  30200
_merge                      0
dtype: int64

### Step 6. Confirm the results of the merge using the merge flag

In [24]:
# Merging two data frames (inner Join):

ords_prods_merge = orders_products_combined.merge(df_prods, on = 'product_id', indicator = True)
ords_prods_merge['_merge'].value_counts(dropna = False)

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [25]:
ords_prods_merge.shape

(32404859, 15)

### Step 7. Export the file

In [26]:
ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge.pkl'))