## 4.6.1 Merging and exporting data

### This script includes the following points:

#### 1. Import the data
#### 2. Define a functuon
#### 3. Use df.loc() instead of user-defined function and If statement
#### 4. Use FOR loop to create new column
#### 5. Q2 Make new column: busiest days
#### 6. Q4 Make new column: busiest_period_of_day
#### 7. Q5 Print the frequency for this new column
#### 8. Exporting data

### 1. Import the data

In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r"C:\Users\Poory\OneDrive\Desktop\project\Instacart Basket Analysis"

In [3]:
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge.pkl'))

In [4]:
df = ords_prods_merge[:1000000]

In [5]:
df.shape

(1000000, 15)

In [6]:
df

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,last_order_days,first_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,2836489,164627,14,0,15,6.0,False,30489,2,0,Original Hummus,67,20,7.5,both
999996,1843600,164632,5,1,19,9.0,False,30489,2,0,Original Hummus,67,20,7.5,both
999997,733106,164632,9,2,22,10.0,False,30489,3,1,Original Hummus,67,20,7.5,both
999998,1650124,164632,17,6,17,13.0,False,30489,1,1,Original Hummus,67,20,7.5,both
999999,3378258,164632,22,6,10,15.0,False,30489,3,1,Original Hummus,67,20,7.5,both

### 2. Define a functuon

In [7]:
# Define a functuon

def price_label(row):
    if row['prices'] <= 5:
        return 'Low Range Product'
    elif (row['prices']) > 5 and (row['prices']) <= 15:
        return 'Mid Range Product'
    elif row['prices'] > 15:
        return 'high Rsnge Product'
    else: 'Not Enough Data'

In [8]:
df['price_range'] = df.apply(price_label, axis = 1)

C:\Users\Poory\AppData\Local\Temp\ipykernel_15376\935325922.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis = 1)

In [9]:
df['price_range'].value_counts()

price_range
Mid Range Product    756450
Low Range Product    243550
Name: count, dtype: int64

In [10]:
df['prices'].max()

14.8

### 3. Use df.loc() instead of user-defined function and If statement

In [11]:
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

C:\Users\Poory\AppData\Local\Temp\ipykernel_15376\1169838859.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [12]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [13]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [14]:
df['price_range_loc'].value_counts(dropna = False)

price_range_loc
Mid-range product    756450
Low-range product    243550
Name: count, dtype: int64

In [15]:
ords_prods_merge.loc[ords_prods_merge['prices'] > 15, 'price_range'] = 'High-range product'

In [16]:
ords_prods_merge.loc[(ords_prods_merge['prices'] <= 15) & (ords_prods_merge['prices'] > 5), 'price_range'] = 'Mid-range product'

In [17]:
ords_prods_merge.loc[ords_prods_merge['prices'] <= 5, 'price_range'] = 'Low-range product'

In [18]:
ords_prods_merge['price_range'].value_counts(dropna = False)

price_range
Mid-range product     21865987
Low-range product     10126321
High-range product      412551
Name: count, dtype: int64

In [19]:
ords_prods_merge['orders_day_of_week'].value_counts(dropna = False)

orders_day_of_week
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

### 4. Use FOR loop to create new column

In [20]:
result = []

for value in ords_prods_merge["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [21]:
ords_prods_merge['busiest_day'] = result

In [22]:
ords_prods_merge['busiest_day'].value_counts(dropna = False)

busiest_day
Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: count, dtype: int64

## Task 4.7

### 5. Q2 Make new column: busiest days

In [23]:
result2 = []

for x in ords_prods_merge['orders_day_of_week']:
    if x == 0 or x == 1:
        result2.append('Two busiest days')
    elif x == 4 or x == 3:
        result2.append('Two Least busy days')
    else: 
        result2.append('Regularly busy')

In [24]:
ords_prods_merge['busiest_days'] = result2

In [25]:
ords_prods_merge['busiest_days'].value_counts(dropna = False)

busiest_days
Regularly busy         12916111
Two busiest days       11864412
Two Least busy days     7624336
Name: count, dtype: int64

### If we compare our numbers with the orders_day_of_week column frequency table, we can observe that our calculation was correct and accurate.

### 6. Q4 Make a new column: busiest_period_of_day

In [26]:
ords_prods_merge['order_hour_of_day'].value_counts(dropna = False)

order_hour_of_day
10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: count, dtype: int64

In [27]:
result3 = []
most_orders = [10, 11, 14, 15, 13, 12, 16, 9]
fewest_orders = [3, 4, 2, 5, 1, 0, 6, 23]

for x in ords_prods_merge['order_hour_of_day']:
    if x in most_orders:
        result3.append('Most Orders')
    elif x in fewest_orders:
        result3.append('Fewest Orders')
    else: 
        result3.append('Average Orders')

In [28]:
ords_prods_merge['busiest_period_of_day'] = result3

### 7. Q5 Print the frequency for this new column

In [29]:
ords_prods_merge['busiest_period_of_day'].value_counts(dropna = False)

busiest_period_of_day
Most Orders       21118071
Average Orders     9997651
Fewest Orders      1289137
Name: count, dtype: int64

In [30]:
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,last_order_days,first_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range,busiest_day,busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average Orders
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Two Least busy days,Average Orders
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Two Least busy days,Most Orders
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Two Least busy days,Average Orders
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Two Least busy days,Most Orders

In [31]:
ords_prods_merge.shape

(32404859, 19)

### 8. Exporting data

In [32]:
ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge.pkl'))