## 4.8 Grouping Data & Aggregation Variables

### This script includes the following points:

#### 1. Import the data
#### 2. Q2:find the aggregated mean of the “order_number” column grouped by “department_id”
#### 3. Q4: Creating a loyalty flag for existing customers using the transform() and loc() functions
#### 4. Q5: Difference between the spending habits of the three types of customers 
#### 5. Q6: Creating a Spending flag for existing customers
#### 6. Q7: Creating a Frequently flag for existing customers
#### 7. Exporting Data

### 1. Import the data

In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r"C:\Users\Poory\OneDrive\Desktop\project\Instacart Basket Analysis"

In [3]:
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge.pkl'))

In [4]:
ords_prods_merge.shape

(32404859, 21)

In [5]:
pd.options.display.max_rows = None

### 2. Q2:find the aggregated mean of the “order_number” column grouped by “department_id”

In [6]:
ords_prods_merge.groupby('department_id')['order_number'].mean()

department_id
1     15.457838
2     17.277920
3     17.170395
4     17.811403
5     15.215751
6     16.439806
7     17.225802
8     15.340650
9     15.895474
10    20.197148
11    16.170638
12    15.887671
13    16.583536
14    16.773669
15    16.165037
16    17.665606
17    15.694469
18    19.310397
19    17.177343
20    16.473447
21    22.902379
Name: order_number, dtype: float64

#### Q3: In our subset department_id 16,14, and 19 had the most orders and deparment_id 17 had the least orders average 
####  while, in entire data set departments 10, 21 have the most orders average and departments 1, 5, and 8 have the least orders.

### 3. Q4: Creating a loyalty flag for existing customers using the transform() and loc() functions

In [7]:
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

C:\Users\Poory\AppData\Local\Temp\ipykernel_19992\1681540670.py:1: FutureWarning: The provided callable <function amax at 0x00000245A5566A20> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [8]:
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [9]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [10]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [11]:
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

### 4. Q5: Difference between the spending habits of the three types of customers

In [12]:
ords_prods_merge.groupby('loyalty_flag').agg({'prices' : ['mean', 'min', 'max']})

                    prices
                      mean  min   max
loyalty_flag
Loyal customer    7.774457  1.0  25.0
New customer      7.802354  1.0  25.0
Regular customer  7.799319  1.0  25.0

### 5. Q6: Creating a Spending flag for existing customers using the transform() and loc() functions

In [13]:
ords_prods_merge['avg_spent'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

C:\Users\Poory\AppData\Local\Temp\ipykernel_19992\3888050640.py:1: FutureWarning: The provided callable <function mean at 0x00000245A5567740> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ords_prods_merge['avg_spent'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [14]:
ords_prods_merge.loc[ords_prods_merge['avg_spent'] < 10, 'spending_flag'] = 'Low spender'

In [15]:
ords_prods_merge.loc[ords_prods_merge['avg_spent'] >= 10, 'spending_flag'] = 'High spender'

In [16]:
ords_prods_merge['spending_flag'].value_counts(dropna = False)

spending_flag
Low spender     32284898
High spender      119961
Name: count, dtype: int64

In [17]:
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,last_order_days,first_order,product_id,add_to_cart_order,reordered,...,prices,_merge,price_range,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_spent,spending_flag
0,2539329,1,1,2,8,NaN,True,196,1,0,...,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average Orders,10,New customer,6.367797,Low spender
1,2398795,1,2,3,7,15.0,False,196,1,1,...,9.0,both,Mid-range product,Regularly busy,Two Least busy days,Average Orders,10,New customer,6.367797,Low spender
2,473747,1,3,3,12,21.0,False,196,1,1,...,9.0,both,Mid-range product,Regularly busy,Two Least busy days,Most Orders,10,New customer,6.367797,Low spender
3,2254736,1,4,4,7,29.0,False,196,1,1,...,9.0,both,Mid-range product,Least busy,Two Least busy days,Average Orders,10,New customer,6.367797,Low spender
4,431534,1,5,4,15,28.0,False,196,1,1,...,9.0,both,Mid-range product,Least busy,Two Least busy days,Most Orders,10,New customer,6.367797,Low spender

### 6. Q7: Creating a Frequently flag for existing customers using the transform() and loc() functions

In [18]:
ords_prods_merge['order_freq_med'] = ords_prods_merge.groupby(['user_id'])['last_order_days'].transform(np.median)

C:\Users\Poory\AppData\Local\Temp\ipykernel_19992\3206016764.py:1: FutureWarning: The provided callable <function median at 0x00000245A56B4720> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  ords_prods_merge['order_freq_med'] = ords_prods_merge.groupby(['user_id'])['last_order_days'].transform(np.median)

In [19]:
ords_prods_merge.loc[ords_prods_merge['order_freq_med'] > 20, 'frequency_flag'] = 'Non-frequent customer'

In [20]:
ords_prods_merge.loc[(ords_prods_merge['order_freq_med'] > 10) &  (ords_prods_merge['order_freq_med'] <= 20), 'frequency_flag'] = 'Regular customer'

In [21]:
ords_prods_merge.loc[ords_prods_merge['order_freq_med'] <= 10, 'frequency_flag'] = 'Frequent customer'

In [22]:
ords_prods_merge['frequency_flag'].value_counts(dropna = False)

frequency_flag
Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
nan                             5
Name: count, dtype: int64

### 7. Exporting Data

In [24]:
ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge_tsk48.pkl'))