## 4.6.1 Merging and exporting data

### This script includes the following points:

#### 1. Import the data
#### 2. Check the Output of Dataframes
#### 3. Optimizing Pandas Performance
#### 4. Merge df_ords with df_ords_prior
#### 5. Export the file

### 1. Import the data

In [2]:
# import libraries
import pandas as pd
import numpy as np
import os

In [3]:
path = path = r"C:\Users\Poory\OneDrive\Desktop\project\Instacart Basket Analysis"

In [4]:
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = False)

In [5]:
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

### 2. Check the Output of Dataframes

In [6]:
df_ords_prior.shape

(32434489, 4)

In [7]:
df_ords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 9 columns):
 #   Column              Dtype
---  ------              -----
 0   Unnamed: 0.1        int64
 1   Unnamed: 0          int64
 2   order_id            int64
 3   user_id             int64
 4   order_number        int64
 5   orders_day_of_week  int64
 6   order_hour_of_day   int64
 7   last_order_days     float64
 8   first_order         bool
dtypes: bool(1), float64(1), int64(7)
memory usage: 212.1 MB

In [7]:
df_ords_prior.isnull().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

In [8]:
df_dups = df_ords_prior[df_ords_prior.duplicated()]
df_dups

Empty DataFrame
Columns: [order_id, product_id, add_to_cart_order, reordered]
Index: []

In [8]:
df_ords.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,last_order_days,first_order
0,0,0,2539329,1,1,2,8,NaN,True
1,1,1,2398795,1,2,3,7,15.0,False
2,2,2,473747,1,3,3,12,21.0,False
3,3,3,2254736,1,4,4,7,29.0,False
4,4,4,431534,1,5,4,15,28.0,False

### 3. Optimizing Pandas Performance

In [9]:
df_ords.drop(columns = {'Unnamed: 0.1', 'Unnamed: 0'}, inplace = True)

In [10]:
# Change types for df_ords data set

df_ords['order_id']=df_ords['order_id'].astype('int32')
df_ords['user_id'] = df_ords['user_id'].astype('int32')
df_ords['order_number']=df_ords['order_number'].astype('int8')
df_ords['orders_day_of_week']=df_ords['orders_day_of_week'].astype('int8')
df_ords['order_hour_of_day']=df_ords['order_hour_of_day'].astype('int8')
df_ords['last_order_days']=df_ords['last_order_days'].astype('float16')

In [11]:
df_ords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 7 columns):
 #   Column              Dtype
---  ------              -----
 0   order_id            int32
 1   user_id             int32
 2   order_number        int8
 3   orders_day_of_week  int8
 4   order_hour_of_day   int8
 5   last_order_days     float16
 6   first_order         bool
dtypes: bool(1), float16(1), int32(2), int8(3)
memory usage: 45.7 MB

In [12]:
df_ords_prior.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int64
 1   product_id         int64
 2   add_to_cart_order  int64
 3   reordered          int64
dtypes: int64(4)
memory usage: 989.8 MB

In [13]:
# Change types for df_ords_prior data set 

df_ords_prior['product_id'] =df_ords_prior['product_id'].astype('int32')
df_ords_prior['reordered']=df_ords_prior['reordered'].astype('int8')
df_ords_prior['add_to_cart_order']=df_ords_prior['add_to_cart_order'].astype('int32')
df_ords_prior['order_id']=df_ords_prior['order_id'].astype('int32')

In [14]:
df_ords_prior.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int32
 1   product_id         int32
 2   add_to_cart_order  int32
 3   reordered          int8
dtypes: int32(3), int8(1)
memory usage: 402.1 MB

### 4. Merge df_ords with df_ords_prior

In [15]:
# Merging two data frames:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', how = 'outer', indicator = True)

In [16]:
df_merged_large['_merge'].value_counts(dropna = False)

_merge
both          32434489
left_only       206209
right_only           0
Name: count, dtype: int64

In [17]:
# Merging two data frames (inner Join):
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)
df_merged_large['_merge'].value_counts(dropna = False)

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

### 5. Export the file

In [18]:
# Export data to csv

df_merged_large.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.csv'))

In [19]:
# Export data to pkl

df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

In [20]:
df_merged_large.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 11 columns):
 #   Column              Dtype
---  ------              -----
 0   order_id            int32
 1   user_id             int32
 2   order_number        int8
 3   orders_day_of_week  int8
 4   order_hour_of_day   int8
 5   last_order_days     float16
 6   first_order         bool
 7   product_id          int32
 8   add_to_cart_order   int32
 9   reordered           int8
 10  _merge              category
dtypes: bool(1), category(1), float16(1), int32(4), int8(4)
memory usage: 742.4 MB